// Place all the styles related to the email_events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.totals {
  margin: 2rem auto;

  &__cell {
    vertical-align: top;
    text-align: left;

    &--title {
      text-align: right;
      padding-right: 1rem;
    }
  }
}

.rates {
  margin: 2rem auto;
  &__header,
  &__cell--title {
    padding-right: 1rem;
    text-align: right;
  }
}
