<table id="summary">
	<tr>
		<td>Total number of emails sent</td>
		<td>0</td>
	</tr>
	<tr>
		<td>Total number of emails opened</td>
		<td>0</td>
	</tr>
	<tr>
		<td>Total number of clicks</td>
		<td>0</td>
	</tr>
	<tr>
		<td>Open rate per email type</td>
		<td>0</td>
	</tr>
	<tr>
		<td>Click rate per email type</td>
		<td>0</td>
	</tr>
</table>
